@import '../../styles/vars';

.@{fullscreen-prefix} {
    &__wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__text {
        margin-left: 6px;
    }
}
